<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <div class="card" style="width: 18rem;">
          <img src={{this.image}} class="card-img-top" alt="{{this.name}}">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </p>
            <span class="badge badge-pill badge-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
            <div class="mt-3">
              <a href="/restaurants/{{this._id}}" class="btn btn-primary">More</a>
              <a href="/restaurants/{{this._id}}/edit" class="btn btn-primary">Edit</a>
              <form action="/restaurants/{{this._id}}/delete" method="POST" style="display: inline"
                class="btn btn-primary">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>