<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <div class="card" style="width: 18rem;">
          <a href="/restaurants/{{this._id}}"><img src={{this.image}} class="card-img-top" alt="{{this.name}}"></a>
          <div class="card-body">
            <div class="index-card-title">
              <h5 class="card-title" style="border-bottom: solid 3px #b92a2a;">{{this.name}}</h5>
            </div>
            <p class="card-text">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </p>
            <span class="badge badge-pill badge-light font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
            <div class="row justify-content-end mt-3 mr-3">
              <a href="/restaurants/{{this._id}}" class="btn" style="font-size: 5px;"><i class=" fas
                fa-info-circle"></i>MORE</a>
            </div>
            <div class="row justify-content-end mt-1 mr-3">
              <a href="/restaurants/{{this._id}}/edit" class="btn mr-1" style="font-size: 5px;"><i
                  class="fas fa-pen-nib"></i>EDIT</a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" style="display: inline">
                <button type="submit" class="btn" style="font-size: 5px;"><i class="fas fa-trash"></i>DELETE</button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>